<concat-us class="contract-us">
  <a href="tel:{{block.settings.phone_number}}">
    <div class="a-inner">
      <span>Une question ?</span>
      <span>
        Contactez-nous
        {% render 'svg-icons-inline', icon: 'conttract-us' %}
      </span>
    </div>
  </a>
</concat-us>
