::root{
    /* Color styles */
    --repetto-colors-white: rgba(255, 255, 255, 1);
    --repetto-colors-black--primary: rgba(0, 0, 0, 1);
    --repetto-colors-black--secondary: rgba(34, 34, 34, 1);
    --repetto-colors-grey--primary: rgba(123, 118, 120, 1);
    --repetto-colors-grey--secondary: rgba(216, 209, 212, 1);
    --repetto-colors-grey-light--secondary: rgba(250, 245, 245, 1);
    --repetto-colors-grey-light--primary: rgba(236, 231, 233, 1);
    --repetto-colors-pink-100: rgba(252, 242, 244, 1);
    --repetto-colors-pink-200: rgba(248, 228, 233, 1);
    --repetto-colors-pink-300: rgba(249, 219, 225, 1);
    --repetto-colors-pink-400: rgba(241, 180, 197, 1);
    --repetto-colors-pink-500: rgba(239, 140, 165, 1);
    --repetto-colors-good: rgba(106, 199, 165, 1);
    --repetto-colors-warning: rgba(166, 37, 69, 1);
}