// Colors
$gray-primary: #7B7678;
$gray-secondary: #D8D1D4;
$gray-light-primary: #ECE7E9;

$pink-300: #F9DBE1;
$pink-400: #F1B4C5;


// Breakpoints
/* Small only */
$sm-max: 39.9375em;

/* Medium and up */
$md-min: 40em;

/* Medium only */
$md-max: 63.9375em;

/* Large and up */
$lg-min: 64em;