.color-selection-main .sku-item-current {
  border: 1px solid #000;
}

.color-selection-main a:not(:nth-child(-n + 4)) {
  display: none;
}

.product__accordion details .collapsible__content *:not(p) {
  color: #7b7678;
  font-size: 14px;
}

.product__accordion details .collapsible__content table tr td {
  padding: 5px;
}

@media screen and (min-width: 1068px) {
  .product-images.product-images-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-images.product-images-flex .product-images__slide {
    flex: 0 0 calc(50% - 5px);
    margin-bottom: 7px;
  }
  .product-images.product-images-flex .product-images__slide:nth-child(3n + 1) {
    flex: 0 0 100%;
  }
}

.contract-us.show-in-mobile {
  display: none;
}

.contract-us a {
  display: block;
  width: 100%;
}

.contract-us a .a-inner {
  display: flex;
  justify-content: space-between;
  background-color: #faf5f5;
  padding: 10px 20px;
}

.contract-us a .a-inner span {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.contract-us a .a-inner span:last-child {
  text-transform: capitalize;
  font-size: 14px;
}

.contract-us a .a-inner span:last-child svg {
  margin-left: 10px;
}

.side-panel-links.custom-side-panel-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.side-panel-links.custom-side-panel-links .side-panel-links-group {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.side-panel-links-group-spliter {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background: #7b7678;
  margin-top: 10px;
}

.side-panel-links.custom-side-panel-links .side-title {
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.side-panel-links.custom-side-panel-links .text-button {
  color: #000;
  font-family: Archivo;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.side-panel-links.custom-side-panel-links .text {
  color: #000;
  font-family: Archivo;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.side-panel-links.custom-side-panel-links .text-button::after, .side-panel-links.custom-side-panel-links .text-button::before {
  display: none;
}

@media screen and (max-width: 768px) {
  .contract-us {
    display: none;
  }
  .contract-us.show-in-mobile {
    display: block;
    margin-bottom: 20px;
  }
}
